
header {
    background-color: #aa7e54;
    height: 100px;
}

header h1 {
    color: #fff;
    font-size: 25px;
    font-family: "Arial";
    padding-top: 10px;
    padding-left: 20px;
}

header p {
    color: #fff;
    font-size: 10px;
    font-family: "Arial";
    padding-top: 25px;
    padding-left: 20px;

}